*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #555;
  color: #fff;
  height: 50px;
  font-size: 2rem;
}


.user-list ul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.single-user {
  display: flex;
  width: 380px;
  background-color: #333;
  border-radius: 75px 30px 10px 75px;
  margin:10px;
  padding: 0px 0px;
  justify-content: left;
  align-items: center;
}

.single-user img{

border-radius: 50%;
width: 150px;
}

.single-user h3{
  display: flex;
  margin:10px;
  color: white;
}

.single-user p{

  margin: 5px 10px;
  color: rgb(167, 167, 167);
}